.DS_Store
/shims
/version
/versions
/sources
/cache
/libexec/*.dylib
/src/Makefile
/src/*.o
/bats/
/bats-core/
.idea

# Go build artifacts
/bin/
/goenv
goenv-*
*.exe

// No docs at root
/*.md

scripts/swap/swap
