name: Daily Go Check
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *" # every day at 8AM UTC
jobs:
  check-go-version:
    if: github.repository_owner == 'go-nv'
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: master
          token: ${{ secrets.GH_TOKEN }}
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
      - name: Install JQ
        run: sudo apt install jq
      - name: Remove system golang
        run: sudo rm -rf $(which go) || true
      - name: Build goenv
        run: make build
      - name: Add goenv to PATH
        run: echo "${GITHUB_WORKSPACE}" >> $GITHUB_PATH
      - name: Check latest version of Go against Goenv
        run: ./.github/scripts/latest_version.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
